# downloaded content
node_modules
# built content
bin
obj
**/done/dist
**/start/dist
# but not wwwroot/lib/*/dist unless we switch bootstrap to a CDN
# user-specific files
*.user
*.suo
.vs
package-lock.json
redis-data
postgres-data
mssql-data
# temp files
.DS_Store
*.tmp
# secrets
.env
